<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="cordova-snappit-utils" version="0.0.1">
        <name>SnappitUtils</name>
        <description>Cordova Snappit Utils</description>
        <license>Apache 2.0</license>

        <preference name="APP_ID" />
        <preference name="APP_SCHEME" />

        <engines>
            <engine name="cordova" version=">=3.0.0" />
        </engines>
        <keywords>cordova,utils</keywords>
        <js-module src="www/SnappitUtils.js" name="SnappitUtils">
            <clobbers target="snappitUtils" />
        </js-module>

        <!-- IOS -->
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="SnappitUtils">
                    <param name="ios-package" value="SnappitUtils"/>
                </feature>
            </config-file>
            
            <config-file target="*-Info.plist" parent="CFBundleURLTypes">
                <array>
                    <dict>
                        <key>CFBundleURLSchemes</key>
                        <array>
                            <string>$APP_SCHEME</string>
                        </array>
                        <key>CFBundleURLName</key>
                        <string>$APP_ID</string>
                    </dict>
                </array>
            </config-file>


            <header-file src="src/ios/SnappitUtils.h" />
            <source-file src="src/ios/SnappitUtils.m" />

            <header-file src="src/ios/MobilePayManager.h" />
            <header-file src="src/ios/MobilePayPayment.h" />
            <header-file src="src/ios/MobilePayCancelledPayment.h" />
            <header-file src="src/ios/MobilePaySuccessfulPayment.h" />
            <source-file src="src/ios/libMobilePayManager1.7.1.a" framework="true" />
        </platform>

        <!-- Android -->
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="SnappitUtils">
                    <param name="android-package" value="com.snappit.SnappitUtils" />
                </feature>
            </config-file>
            
            <source-file src="src/android/SnappitUtils.java" target-dir="src/com/snappit/" />
        </platform>
</plugin>